<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
</head>

<body>
    <div class="table-data">
        <h2><%=title%></h2>
        <table border="1">
            <tr>
                <th>ActeurID</th>
                <th>Personage</th>
                <th>FilmID</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% if(listData.length!=0){ var i=1; listData.forEach(function(data){ %>
                <tr>
                    <td>
                        <%=data.ActeurID %>
                    </td>
                    <td>
                        <%=data.Personage %>
                    </td>
                    <td>
                        <%=data.FilmID %>
                    </td>
                    <td><a href="/edit/filmcast/<%=data.ActeurID%>">Edit</a></td>
                    <td><a href="/filmcast/delete/<%=data.ActeurID%>">Delete</a></td>
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="10">No Data Found</td>
                        </tr>
                        <% } %>
        </table>
    </div>
</body>

</html>