<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
</head>

<body>
    <div class="table-data">
        <h2><%=title%></h2>
        <table border="1">
            <tr>
                <th>FilmID</th>
                <th>Titel</th>
                <th>Release_Date</th>
                <th>Korte_inhoud</th>
                <th>Rating</th>
                <th>Productiehuis_ID</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% if(listData.length!=0){ var i=1; listData.forEach(function(data){ %>
                <tr>
                    <td>
                        <%=data.FilmID %>
                    </td>
                    <td>
                        <%=data.Titel %>
                    </td>
                    <td>
                        <%=data.Release_Date %>
                    </td>
                    <td>
                        <%=data.Korte_inhoud %>
                    </td>
                    <td>
                        <%=data.Rating %>
                    </td>
                    <td>
                        <%=data.Productiehuis_ID %>
                    </td>
                    <td><a href="/edit/film/<%=data.FilmID%>">Edit</a></td>
                    <td><a href="/film/delete/<%=data.id%>">Delete</a></td>
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="10">No Data Found</td>
                        </tr>
                        <% } %>
        </table>
    </div>
</body>

</html>