<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
</head>

<body>
    <div class="table-data">
        <h2><%=title%></h2>
        <table border="1">
            <tr>
                <th>Productiehuis_ID</th>
                <th>Naam</th>
                <th>Adres</th>
                <th>Plaats</th>
                <th>Postcode</th>
                <th>Land</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% if(listData.length!=0){ var i=1; listData.forEach(function(data){ %>
                <tr>
                    <td>
                        <%=data.Productiehuis_ID %>
                    </td>
                    <td>
                        <%=data.Naam %>
                    </td>
                    <td>
                        <%=data.Adres %>
                    </td>
                    <td>
                        <%=data.Plaats %>
                    </td>
                    <td>
                        <%=data.Postcode %>
                    </td>
                    <td>
                        <%=data.Land %>
                    </td>
                    <td><a href="/productiehuis/edit/<%=data.id%>">Edit</a></td>
                    <td><a href="/productiehuis/delete/<%=data.id%>">Delete</a></td>
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="10">No Data Found</td>
                        </tr>
                        <% } %>
        </table>
    </div>
</body>

</html>