<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fetch using MySQL and Node.js</title>
</head>

<body>
    <div class="table-data">
        <h2>Display Data using Node.js & MySQL</h2>
        <table border="1">
            <tr>
                <th>ActeurID</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Geslacht</th>
                <th>Geboortedatum</th>
                <th>Woonplaats</th>
                <th>Land</th>
                <th>Specialisme</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                <tr>
                    <td>
                        <%=data.ActeurID %>
                    </td>
                    <td>
                        <%=data.Voornaam %>
                    </td>
                    <td>
                        <%=data.Achternaam %>
                    </td>
                    <td>
                        <%=data.Geslacht %>
                    </td>
                    <td>
                        <%=data.Geboortedatum %>
                    </td>
                    <td>
                        <%=data.Woonplaats %>
                    </td>
                    <td>
                        <%=data.Land %>
                    </td>
                    <td>
                        <%=data.Specialisme %>
                    </td>
                    <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
                    <td><a href="/users/delete/<%=data.id%>">Delete</a></td>
                </tr>
                <% i++; }) %>
                    <% } else{ %>
                        <tr>
                            <td colspan="10">No Data Found</td>
                        </tr>
                        <% } %>
        </table>
    </div>
</body>

</html>